<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EnvUrl" value="https://orgf13f21b3.crm.dynamics.com" />
		<add key="ClientId" value="93c32c72-f056-42ae-8c31-450e0ba4cf71" />
		<add key="ClientSecret" value="HQ4a8~5mVm~Q0rZ.EAOz549S-8xZ66k_.F" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
